In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [2]:
dataset= pd.read_csv("/Users/arajpoo3/ExtraLearning/Python/Oil & Gas Use Case/all_energy_statistics.csv")
#Drop the column that majorly include null value
dataset.drop("quantity_footnotes", axis=1, inplace=True)

In [3]:
dataset.head(3)
#dataset.commodity_transaction.isnull().sum() (commodity_transaction ve category kolonlarÄ±nda eksik yok)

,country_or_area,commodity_transaction,year,unit,quantity,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,additives_and_oxygenates

In [4]:
#How many categories in the dataset
print(dataset['category'].value_counts().count())
#How many commodity_transaction in the dataset
print(dataset['commodity_transaction'].value_counts().count())

71
2452

In [5]:
#G-7 COUNTRIES: 
US = dataset[dataset.country_or_area.isin(["United States"])].sort_values('year')
CAN = dataset[dataset.country_or_area.isin(["Canada"])].sort_values('year')
JAP = dataset[dataset.country_or_area.isin(['Japan'])].sort_values('year')
UK =dataset[dataset.country_or_area.isin(['United Kingdom'])].sort_values('year')
GER = dataset[dataset.country_or_area.isin(["Germany"])].sort_values('year')
ITA = dataset[dataset.country_or_area.isin(['Italy'])].sort_values('year')
FRA = dataset[dataset.country_or_area.isin(["France"])].sort_values('year')
#List of various EU countries 
SP = dataset[dataset.country_or_area.isin(["Spain"])].sort_values('year')
NETH = dataset[dataset.country_or_area.isin(['Netherlands'])].sort_values('year')
NOR = dataset[dataset.country_or_area.isin(["Norway"])].sort_values('year')
POR = dataset[dataset.country_or_area.isin(["Portugal"])].sort_values('year')
#DEVELOPING STATES: 
TUR = dataset[dataset.country_or_area.isin(["Turkey"])].sort_values('year')
SKOR = dataset[dataset.country_or_area.isin(["Korea, Republic of"])].sort_values('year')
SAUD = dataset[dataset.country_or_area.isin(["Saudi Arabia"])].sort_values('year')
AUST= dataset[dataset.country_or_area.isin(["Australia"])].sort_values('year') 
ARG= dataset[dataset.country_or_area.isin(["Argentina"])].sort_values('year') 
INDO= dataset[dataset.country_or_area.isin(["Indonesia"])].sort_values('year') 
MEX= dataset[dataset.country_or_area.isin(["Mexico"])].sort_values('year') 
#BRICS STATES: 
BR= dataset[dataset.country_or_area.isin(['Brazil'])].sort_values('year')
RUS = dataset[dataset.country_or_area.isin(['Russian Federation'])].sort_values('year')
IND = dataset[dataset.country_or_area.isin(['India'])].sort_values('year')
CHI = dataset[dataset.country_or_area.isin(["China"])].sort_values('year')
SAfr = dataset[dataset.country_or_area.isin(["South Africa"])].sort_values('year')

In [ ]:
Petroleum
Some Categories in the dataset:

gas_oil_diesel_oil: Gas Oil/ Diesel Oil -Total energy supply ;
fuel_oil
liquified_petroleum_gas motor_gasoline kerosene_type_jet_fuel conventional_crude_oil
other_bituminous_coal
other_oil_products_n_e_c
lubricants
aviation_gasoline bitumen
biodiesel
black_liquor
biogasoline other_liquid_biofuels oil_shale_oil_sands naphta

In [6]:
#
gas_oil= dataset[dataset.category=="gas_oil_diesel_oil"].sort_values("year")
gas_oil["commodity_transaction"].value_counts().head(10)

Gas Oil/ Diesel Oil - Total energy supply                                                        5362
Gas Oil/ Diesel Oil - Final consumption                                                          5241
Gas Oil/ Diesel Oil - Final energy consumption                                                   5240
Gas Oil/ Diesel Oil - Imports                                                                    5153
Gas Oil/ Diesel Oil - Consumption by transport                                                   4955
Gas Oil/ Diesel Oil - Transformation                                                             4731
Gas Oil/ Diesel Oil - Transformation in electricity, CHP and heat plants                         4701
Gas Oil/ Diesel Oil - Consumption in road                                                        4669
Gas Oil/ Diesel Oil - Consumption by manufacturing, construction and non-fuel mining industry    3487
Gas Oil/ Diesel Oil - Consumption by other manuf., const. and non-fuel min. ind.                 3477
Name: commodity_transaction, dtype: int64

In [7]:
conventional_crude=dataset[dataset.category=="conventional_crude_oil"].sort_values("year")
conventional_crude["commodity_transaction"].value_counts().head(10)

Conventional crude oil - total energy supply                 3088
Crude petroleum - refinery capacity                          3043
Conventional crude oil - transformation                      2914
Conventional crude oil - transformation in oil refineries    2893
Conventional crude oil - stock changes                       2377
Conventional crude oil - production                          2371
Conventional crude oil - imports                             2324
Crude petroleum - reserves                                   2290
Conventional crude oil - exports                             1884
Conventional crude oil - energy industries own use            506
Name: commodity_transaction, dtype: int64

In [8]:
biodiesel=dataset[dataset.category=="biodiesel"].sort_values("year")
biodiesel["commodity_transaction"].value_counts().head(6)

Biodiesel - Total energy supply         509
Biodiesel - Final energy consumption    500
Biodiesel - Final consumption           500
Biodiesel - Consumption in transport    499
Biodiesel - Consumption by road         499
Biodiesel - Production                  478
Name: commodity_transaction, dtype: int64

In [9]:
#To merge the dataset of some EU members to represent the EU oil data...
EU_CrudeSupply=pd.merge(SP_CrudeSupply,ITA_CrudeSupply, on="year", how="outer")

NameError: name 'SP_CrudeSupply' is not defined

In [ ]:
https://www.kaggle.com/sametgirgin/oil-gas/notebook?select=all_energy_statistics.csv